
.specifications{
    padding: 94px 0;
    & h3{
        font-size: 14px;
        color: #2d3033;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
    }  

}
.specifications p{
    @extend .normal-text;
    font-weight: normal;
    line-height: 171%;
    color: $p-textcolor;
    
    
}

.specifications__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100%/3);
    justify-content: center;
    
}

.specifications__item{    
    width: 370px;
    &::before{
        display: block;
        content: "";
        height: 135px;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        fill: #D10220;
        color: #D10220;
    }
}
.specifications__item:nth-child(1)::before{
    background-image: url(../images/icons/separate_icons/tools.svg);
}
.specifications__item:nth-child(2)::before{
    background-image: url(../images/icons/separate_icons/desktop.svg);
}
.specifications__item:nth-child(3)::before{
    background-image: url(../images/icons/separate_icons/lightbulb.svg);
}
.specifications__item:nth-child(4)::before{
    background-image: url(../images/icons/separate_icons/genius.svg);
}
.specifications__item:nth-child(5)::before{
    background-image: url(../images/icons/separate_icons/briefcase.svg);
}
.specifications__item:nth-child(6)::before{
    background-image: url(../images/icons/separate_icons/download.svg);
}
